
/* Loader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
            transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

/*Login System*/

.row-login{
	margin: auto;
    padding-top: 15px;
    height: 100vh;
    color: #fff;
}

.row-signup{
	margin: auto;
    height: 100vh;
    color: #fff;
    padding-top: 0px;
}


.image-leftDuren-login{
	padding-top: 70px;
}

.image-leftText-login{
	padding-top: 30px;
}

#leftLoginDiv{
	display: block;
}

@media(max-width: 992px){
	#leftLoginImage{
		display: none;
	}
}

.rightLoginDiv{
	margin: auto;
}

.titleLogin{
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 40px;
}

.text-forgot{
	padding-top: 0px;
    padding-bottom: 25px;
    float: right;
    margin-top: 5px;
    font-size: 14px;
}

a{
	color: #fff;
}

a:hover{
	color: #CEA32B;
}

.a-createAccount{
	padding-top: 30px;
	margin: auto;
	display: table;color: #fff
}

.buttonYellow{
	background-color: #CEA32B;
	width: 100%;
	border: 1px solid #CEA32B;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	cursor: pointer;
}

.buttonYellow:hover{
	background-color: #82630D;
	width: 100%;
	border: 1px solid #82630D;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	cursor: pointer;
}

/*signup form*/

.leftSignupDiv{	
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	height: auto;
	font-size: 20px;
	width: 100%;
	background: url(../images/ex-bg.jpg);
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-size: auto;
	padding-bottom: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.card-LeftSignupDiv{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 0px;
}

.rightSignupDiv{
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	height: auto;
	font-size: 20px;
	width: 100%;
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(19, 55, 20, 0.7)),to(rgba(19, 55, 20, 0.7))),url(../images/duren.jpg);
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-size: auto;
	padding-bottom: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

#rightSignupDiv{
	display: block;
}

.inputDoubleSignup{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 50%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.inputSingleSignup{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

@media(max-width: 920px){
	#rightSignupDiv{
		display: none;
	}
}

@media(max-width: 500px){
	.inputDoubleSignup{
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
}