/*button type*/

.button-blue{
    background-color: #53C2BB;
    border: 1px solid #53C2BB;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 30px;
    padding-bottom: 20px;
    cursor: pointer;
}

.button-blue:hover{
    background-color: white;
    border: 1px solid #53C2BB;
    border-radius: 5px;
    color: #53C2BB;
    width: 100%;
    height: 30px;
    padding-bottom: 20px;
    cursor: pointer;
}

.button-blue:active{
    background-color: #146A65;
    border: 1px solid #218680;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 30px;
    padding-bottom: 20px;
    cursor: pointer;
}

/*hr or border*/

.hr-blue{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid #53C2BB;
}

/*card div page, width, height*/

.width-auto{
    width: auto;
}

.card-height-500px{
    height: 500px;
}

/*image*/

.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.image-header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: -10px;
    padding-bottom: 25px;
}

@media(max-width: 700px){
    .image-center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

/*title text or text*/

.text-black{
    color: black;
}

.text-bold{
    font-weight: bold;
}

.title-size20{
    font-size: 20px;
    font-weight: bolder;
}

.title-size35{
    font-size: 35px;
    font-weight: bolder;
}

.width70{
    width: 70%;
}

@media(max-width: 548px){
    .title-size35{
        font-size: 20px;
        font-weight: bolder;
    }
}

/*float left*/

.float-right{
    float: right;
}

.float-left{
    float: left;
}

/*padding*/

.padding-right20{
    padding-right: 20px;
}

.padding-right10{
    padding-right: 10px;
}

.padding-bottom23{
    padding-bottom: 23px;
}

.padding-bottom100{
    padding-bottom: 100px;
}

.padding-TopBottom40{
    padding-bottom: 40px;
    padding-top: 40px;
}

.padding-TopBottom10{
    padding-bottom: 10px;
    padding-top: 10px;
}

.padding-TopBottom20{
    padding-bottom: 20px;
    padding-top: 20px;
}

/*Nav Page*/

.nav-page-barugasikola{
margin-top: 0px;
}

.card-nav-page-barugasikola{
    background-color: #53C2BB;
    display: block;
    height: 50px;
    color: white;
    padding-top: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1;
}

/*Left Nav*/
.logo-nav-page{
    margin-left: 0px;
    padding-top: 0px;
}

.imageLogo-nav-page{
    width: 111px;
    margin-top: 0px;
}

@media(max-width: 341px){
    .imageLogo-nav-page{
        width: 75px;
        margin-top: 5px;
    }
}

.logoPosition-nav-page{
    float: left
}

/*Right Nav*/
.linkPosition-nav-page{
    float: right;
}

.ul-link-nav-page{
    list-style: none; 
    cursor: pointer;
    margin-top: -8px;
    padding-right: 0px;
}

.li-link-nav-page{
    float: left;
    width: 40px;
}

.div-LinkNavPage-position{
    margin-top:8px;
}

.a-LinkNavPage-position{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 30px;
}

.image-LinkNavPage-position{
    width: 8px;
    float: left;
    margin-top: -23px;
    position: absolute;
}

.imageRed-LinkNavPage-show{
    width: 8px;
    margin-left: 20px;
    margin-top: -25px;
}

.imageRed-LinkNavPage-hidden{
    display: none;
    width: 8px;
    margin-left: 20px;
    margin-top: -25px;
}

.span-unread{
    background-color: red;
    border-radius: 20px;
    position: relative;
    font-size: 5px;
    padding-right: 3px;
    padding-left: 3px;
    color: white;
    top: -38px;
    left: 17px;
}

.span-read{
    background-color: red;
    border-radius: 20px;
    position: relative;
    font-size: 7px;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    top: -38px;
    left: 17px;
    display: none;
}

.card-UserImage-nav-page{
    border-radius: 28px;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    margin-top: -1px;
}

.UserImage-nav-page{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.width-UserDataLink-nav-page{
    width: auto;
    padding-left: 15px;
}

.name-UserDataLink-nav-page{
    font-size: 15px;
    margin-bottom: -5px;
    padding-top: 3px;
}

.username-UserDataLink-nav-page{
    font-size: 12px;
    margin-top: -4px;
}

@media(max-width: 575px){
    .width-UserDataLink-nav-page{
        display: none;
    }
}

/*content*/

.content-barugasikola{
    padding-top: 60px;
}

.div-content-barugasikola{
    margin-top: 10px;
    padding-bottom: 10px;
}

.card-BackgroundColor-white{
    color: #53C2BB;
    background-color: #fff;
    border: 1px solid #53C2BB;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    height: auto;
    width: 100%;
    display: flex;
}

.card-BackgroundColor-blue{
    color: #fff;
    background-color: #53C2BB;
    border: 1px solid #53C2BB;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    height: auto;
    width: 100%;
    display: flex;
}

.card-col-background{
    width: 50%;
    display: block;
    box-sizing: inherit;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}


@media(max-width: 1000px){
    .card-col-background{
        width: 100%;
        display: block;
        box-sizing: inherit;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
    }
}

#card-Bacground1{
    color: #fff;
    background: url(../images/card-images/card-images-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #53C2BB;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    height: 150px;
    width: 100%;
    display: flex;
}

#card-Bacground2{
    color: #fff;
    background: url(../images/card-images/card-images-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #53C2BB;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    height: 150px;
    width: 100%;
    display: flex;
}

.span1-content-barugasikola{
    background-color: #53C2BB;
    border-radius: 20px;
    position: relative;
    font-size: 18px;
    padding-right: 12px;
    padding-left: 12px;
    color: white;
}

.row-large-barugasikola{
    margin-right: -15px;
    margin-left: -15px;
}

.banner-daftar-pustaka{
    display: block;
}

@media(max-width: 700px){
    .banner-daftar-pustaka{
        display: none;
    }
}

/*footer page*/

.footer-barugasikola{
    background-color: black;
    color: white;
    height: auto;
    margin-top: 110px;
}

.ul-icon-footer-barugasikola{
    list-style: none;
    margin-left: -40px;
    padding-top: 12px;
}

.div-icon-footer-barugasikola{
    margin: auto;
    display: table;
    /*padding-bottom: 40px;*/
}

.li-icon-footer-barugasikola{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.icon-footer-barugasikola{
    width: 40px;
}

@media(max-width: 341px){
    .icon-footer-barugasikola{
        width: 30px;
    }
}

.title-footer-text{
    font-size: 25px;
}

